In [422]:
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

from tensorflow.keras import utils
from tensorflow.keras.datasets import fashion_mnist
import tensorflow
import seaborn as sns

In [423]:
def ticketbin(x):
    if x==1:
        return 0
    else:
        return 1

In [424]:
def AgeGroup(x):
    if x <=18:
        return 0
    elif  x<=50:
        return 1
    else:
        return 2

In [425]:
def name_remake(x):
    return x.split(",")[1].split(" ")[1]

In [426]:
def cabinn(x):
    if type(x) is list:
        return x[0][0]
    else:
        return x[0]

In [427]:
def pclass1cabin(x):
    a,b,c,d,e=40,114,100,63,56
    if x>a and x<e:
        if x<((a+e)/2):
            return "A"
        else:
            return "E"
    elif x>e and x<d:
        if x<((e+d)/2):
            return "E"
        else:
            return "D"
    elif x>d and x<c:
        if x<((d+c)/2):
            return "D"
        else:
            return "C"
    elif x>c and x<b:
        if x<((c+b)/2):
            return "C"
        else:
            return "B"
    elif x<=a:
        return "A"
    else:
        return "B"

In [428]:
def pclass2cabin(x):
    d,e,f=13,12,24
    if x>e and x<d:
        if x<((d+e)/2):
            return "E"
        else:
            return "D"
    elif x>d and x<f:
        if x<((d+f)/2):
            return "D"
        else:
            return "F"
    elif x<=e:
        return "E"
    else:
        return "F"

In [429]:
def pclass3cabin(x):
    e,g,f=11,12,14
    if x>e and x<g:
        if x<((g+e)/2):
            return "E"
        else:
            return "G"
    elif x>g and x<f:
        if x<((g+f)/2):
            return "G"
        else:
            return "F"
    elif x<=e:
        return "E"
    else:
        return "F"

In [430]:
def cabin_remake(x):
    if x=="A":
        return 0
    elif x=="B":
        return 1
    elif x=="C":
        return 2
    elif x=="D":
        return 3
    elif x=="E":
        return 4
    elif x=="G":
        return 5
    elif x=="F":
        return 6
    elif x=="T":
        return 7

In [431]:
x_train=pd.read_csv('/Users/olegsiskin/Desktop/titanic/train.csv').set_index("PassengerId")
x_train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [432]:

x_train.loc[x_train.Sex=="male","Sex"]=1
x_train.loc[x_train.Sex=="female","Sex"]=0
x_train.loc[x_train.Embarked=="Q","Embarked"]=0
x_train.loc[x_train.Embarked=="S","Embarked"]=1
x_train.loc[x_train.Embarked=="C","Embarked"]=2
x_train.Cabin=x_train.loc[x_train.Cabin.notnull()].Cabin.apply(cabinn)
y_train=x_train.Survived

In [433]:
x_train["Name"]=x_train.Name.apply(name_remake)

In [434]:
x_train.loc[x_train.Age.isnull()].Name.unique()

array(['Mr.', 'Mrs.', 'Miss.', 'Master.', 'Dr.'], dtype=object)

In [435]:
x_train.loc[(x_train.Name=="Mr.")&(x_train.Age.isnull()),"Age"]=(x_train.loc[(x_train.Age.notna())&(x_train.Name=="Mr.")].Age.mean())
x_train.loc[(x_train.Name=="Mrs.")&(x_train.Age.isnull()),"Age"]=(x_train.loc[(x_train.Age.notna())&(x_train.Name=="Mrs.")].Age.mean())
x_train.loc[(x_train.Name=="Miss.")&(x_train.Age.isnull()),"Age"]=(x_train.loc[(x_train.Age.notna())&(x_train.Name=="Miss.")].Age.mean())
x_train.loc[(x_train.Name=="Dr.")&(x_train.Age.isnull()),"Age"]=(x_train.loc[(x_train.Age.notna())&(x_train.Name=="Dr.")].Age.mean())
x_train.loc[(x_train.Name=="Master.")&(x_train.Age.isnull()),"Age"]=(x_train.loc[(x_train.Age.notna())&(x_train.Name=="Master.")].Age.mean())

In [436]:
x_train["Age_New"]=x_train.Age.apply(AgeGroup)
x_train=x_train.drop(columns=["Survived","Age"])
x_train["Family"]=x_train.SibSp+x_train.Parch
x_train=x_train.drop(columns=["SibSp","Parch","Name"])
x_train.Embarked=x_train.Embarked.fillna(1)

In [437]:
sorted(x_train.loc[(x_train.Cabin.notnull()) &(x_train.Pclass==1)].Cabin.unique())

['A', 'B', 'C', 'D', 'E', 'T']

In [438]:
A1=round(x_train.loc[(x_train.Cabin=="A") &(x_train.Pclass==1)].Fare.mean())
B1=round(x_train.loc[(x_train.Cabin=="B") &(x_train.Pclass==1)].Fare.mean())
C1=round(x_train.loc[(x_train.Cabin=="C") &(x_train.Pclass==1)].Fare.mean())
D1=round(x_train.loc[(x_train.Cabin=="D") &(x_train.Pclass==1)].Fare.mean())
E1=round(x_train.loc[(x_train.Cabin=="E") &(x_train.Pclass==1)].Fare.mean())
A1,B1,C1,D1,E1

(40, 114, 100, 63, 56)

In [439]:
sorted(x_train.loc[(x_train.Cabin.notnull()) &(x_train.Pclass==2)].Cabin.unique())

['D', 'E', 'F']

In [440]:
D2=round(x_train.loc[(x_train.Cabin=="D") &(x_train.Pclass==2)].Fare.mean())
E2=round(x_train.loc[(x_train.Cabin=="E") &(x_train.Pclass==2)].Fare.mean())
F2=round(x_train.loc[(x_train.Cabin=="F") &(x_train.Pclass==2)].Fare.mean())
D2,E2,F2

(13, 12, 24)

In [441]:
sorted(x_train.loc[(x_train.Cabin.notnull()) &(x_train.Pclass==3)].Cabin.unique())

['E', 'F', 'G']

In [442]:
E3=round(x_train.loc[(x_train.Cabin=="E") &(x_train.Pclass==3)].Fare.mean())
F3=round(x_train.loc[(x_train.Cabin=="F") &(x_train.Pclass==3)].Fare.mean())
G3=round(x_train.loc[(x_train.Cabin=="G") &(x_train.Pclass==3)].Fare.mean())
E3,F3,G3

(11, 11, 14)

In [443]:
x_train.loc[(x_train.Pclass==1)&(x_train.Cabin.isnull()),"Cabin"]=x_train.loc[(x_train.Pclass==1)&(x_train.Cabin.isnull())].Fare.apply(pclass1cabin)
x_train.loc[(x_train.Pclass==2)&(x_train.Cabin.isnull()),"Cabin"]=x_train.loc[(x_train.Pclass==2)&(x_train.Cabin.isnull())].Fare.apply(pclass2cabin)
x_train.loc[(x_train.Pclass==3)&(x_train.Cabin.isnull()),"Cabin"]=x_train.loc[(x_train.Pclass==3)&(x_train.Cabin.isnull())].Fare.apply(pclass3cabin)

In [444]:
x_train.Cabin=x_train.Cabin.apply(cabin_remake)

In [445]:
x_train.Ticket=[ ticketbin(len(x_train.loc[x_train.Ticket==i])) for i in x_train.Ticket]

In [446]:
x_train=x_train.drop(columns="Fare")
x_train

             Pclass Sex  Ticket  Cabin  Embarked  Age_New  Family
PassengerId
1                 3   1       0      4         1        1       1
2                 1   0       0      2         2        1       1
3                 3   0       0      4         1        1       0
4                 1   0       1      2         1        1       1
5                 3   1       0      4         1        1       0
...             ...  ..     ...    ...       ...      ...     ...
887               2   1       0      6         1        1       0
888               1   0       0      1         1        1       0
889               3   0       1      6         1        1       3
890               1   1       0      2         2        1       0
891               3   1       0      4         0        1       0

[891 rows x 7 columns]

In [447]:
x_test=pd.read_csv('/Users/olegsiskin/Desktop/titanic/test.csv')
y_test=pd.read_csv("/Users/olegsiskin/Desktop/titanic/gender_submission.csv")

In [448]:
x_test=x_test.set_index("PassengerId")
y_test=y_test.set_index("PassengerId")

In [449]:
x_test["Name"]=x_test.Name.apply(name_remake)

In [450]:
x_test.loc[(x_test.Name=="Mr.")&(x_test.Age.isnull()),"Age"]=(x_test.loc[(x_test.Age.notna())&(x_test.Name=="Mr.")].Age.mean())
x_test.loc[(x_test.Name=="Mrs.")&(x_test.Age.isnull()),"Age"]=(x_test.loc[(x_test.Age.notna())&(x_test.Name=="Mrs.")].Age.mean())
x_test.loc[(x_test.Name=="Miss.")&(x_test.Age.isnull()),"Age"]=(x_test.loc[(x_test.Age.notna())&(x_test.Name=="Miss.")].Age.mean())
x_test.loc[(x_test.Name=="Ms.")&(x_test.Age.isnull()),"Age"]=(x_test.loc[(x_test.Age.notna())&(x_test.Name=="Ms.")].Age.mean())
x_test.loc[(x_test.Name=="Master.")&(x_test.Age.isnull()),"Age"]=(x_test.loc[(x_test.Age.notna())&(x_test.Name=="Master.")].Age.mean())
x_test.at[980,"Age"]=38.9

In [451]:
x_test=x_test.drop(columns=["Name"])

In [452]:
pclass_3=x_test.loc[x_test.Pclass==3].Fare.mean()
x_test.Fare=x_test.Fare.fillna(pclass_3)

In [453]:
x_test.loc[x_test.Sex=="male","Sex"]=1
x_test.loc[x_test.Sex=="female","Sex"]=0

In [454]:
x_test.loc[x_test.Embarked=="Q","Embarked"]=0
x_test.loc[x_test.Embarked=="S","Embarked"]=1
x_test.loc[x_test.Embarked=="C","Embarked"]=2

In [455]:
x_test["Age_New"]=x_test.Age.apply(AgeGroup)

In [456]:
x_test.Cabin=x_test.loc[x_test.Cabin.notnull()].Cabin.apply(cabinn)
x_test.loc[(x_test.Pclass==1)&(x_test.Cabin.isnull()),"Cabin"]=x_test.loc[(x_test.Pclass==1)&(x_test.Cabin.isnull())].Fare.apply(pclass1cabin)
x_test.loc[(x_test.Pclass==2)&(x_test.Cabin.isnull()),"Cabin"]=x_test.loc[(x_test.Pclass==2)&(x_test.Cabin.isnull())].Fare.apply(pclass2cabin)
x_test.loc[(x_test.Pclass==3)&(x_test.Cabin.isnull()),"Cabin"]=x_test.loc[(x_test.Pclass==3)&(x_test.Cabin.isnull())].Fare.apply(pclass3cabin)
x_test.Cabin=x_test.Cabin.apply(cabin_remake)

In [457]:
x_test=x_test.drop(columns=["Fare"])

In [458]:
x_test["Family"]=x_test.SibSp+x_test.Parch
x_test=x_test.drop(columns=["SibSp","Age","Parch"])

In [459]:
x_test.Ticket=[ ticketbin(len(x_test.loc[x_test.Ticket==i])) for i in x_test.Ticket]

In [460]:
x_test=x_test.drop(columns="Cabin")

In [461]:
x_train=x_train.drop(columns="Cabin")

In [462]:
x_train

             Pclass Sex  Ticket  Embarked  Age_New  Family
PassengerId
1                 3   1       0         1        1       1
2                 1   0       0         2        1       1
3                 3   0       0         1        1       0
4                 1   0       1         1        1       1
5                 3   1       0         1        1       0
...             ...  ..     ...       ...      ...     ...
887               2   1       0         1        1       0
888               1   0       0         1        1       0
889               3   0       1         1        1       3
890               1   1       0         2        1       0
891               3   1       0         0        1       0

[891 rows x 6 columns]

In [463]:
x_test_n=x_test.to_numpy()
y_test_n=y_test.to_numpy()
x_train_n=x_train.to_numpy()
y_train_n=y_train.to_numpy()

In [464]:
import tensorflow as tf
y_tensor = tf.convert_to_tensor(y_test_n, dtype=tf.float64)
x_tensor= tf.convert_to_tensor(x_test_n, dtype=tf.float64)
y_tensor_train=tf.convert_to_tensor(y_train_n, dtype=tf.float64)
x_tensor_train=tf.convert_to_tensor(x_train_n, dtype=tf.float64)

In [465]:
model=keras.Sequential([
    keras.layers.Flatten(input_shape=(6,)),
    keras.layers.Dense(256,activation="relu"),
    keras.layers.Dense(32,activation="sigmoid"),

    keras.layers.Dense(1,activation="sigmoid")
])

In [466]:
model.compile(keras.optimizers.SGD(learning_rate=0.04, momentum=0.03, nesterov=True),
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [467]:
model.summary()

Model: "sequential_40"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten_40 (Flatten)        (None, 6)                 0

 dense_252 (Dense)           (None, 256)               1792

 dense_253 (Dense)           (None, 32)                8224

 dense_254 (Dense)           (None, 1)                 33

=================================================================
Total params: 10,049
Trainable params: 10,049
Non-trainable params: 0
_________________________________________________________________

In [468]:
model.fit(x_tensor_train,y_tensor_train,epochs=100)
test_loss,test_acc=model.evaluate(x_tensor_train,y_tensor_train)

Epoch 1/100
28/28 [==============================] - 2s 2ms/step - loss: 0.6613 - accuracy: 0.6162
Epoch 2/100
28/28 [==============================] - 0s 2ms/step - loss: 0.6523 - accuracy: 0.6162
Epoch 3/100
28/28 [==============================] - 0s 2ms/step - loss: 0.6429 - accuracy: 0.6162
Epoch 4/100
28/28 [==============================] - 0s 2ms/step - loss: 0.6330 - accuracy: 0.6162
Epoch 5/100
28/28 [==============================] - 0s 2ms/step - loss: 0.6239 - accuracy: 0.6162
Epoch 6/100
28/28 [==============================] - 0s 2ms/step - loss: 0.6143 - accuracy: 0.6364
Epoch 7/100
28/28 [==============================] - 0s 3ms/step - loss: 0.6049 - accuracy: 0.6386
Epoch 8/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5959 - accuracy: 0.7026
Epoch 9/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5858 - accuracy: 0.7172
Epoch 10/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5760 - accuracy: 0.7273
Epoch 11/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5669 - accuracy: 0.7396
Epoch 12/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5570 - accuracy: 0.7475
Epoch 13/100
28/28 [==============================] - 0s 3ms/step - loss: 0.5483 - accuracy: 0.7520
Epoch 14/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5400 - accuracy: 0.7542
Epoch 15/100
28/28 [==============================] - 0s 5ms/step - loss: 0.5306 - accuracy: 0.7565
Epoch 16/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5238 - accuracy: 0.7621
Epoch 17/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5149 - accuracy: 0.7744
Epoch 18/100
28/28 [==============================] - 0s 2ms/step - loss: 0.5075 - accuracy: 0.7845
Epoch 19/100
28/28 [==============================] - 0s 3ms/step - loss: 0.5019 - accuracy: 0.7856
Epoch 20/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4956 - accuracy: 0.7834
Epoch 21/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4897 - accuracy: 0.7778
Epoch 22/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4838 - accuracy: 0.7834
Epoch 23/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4780 - accuracy: 0.7912
Epoch 24/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4738 - accuracy: 0.7924
Epoch 25/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4713 - accuracy: 0.7935
Epoch 26/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4680 - accuracy: 0.7935
Epoch 27/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4653 - accuracy: 0.7946
Epoch 28/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4619 - accuracy: 0.7946
Epoch 29/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4605 - accuracy: 0.7834
Epoch 30/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4583 - accuracy: 0.7912
Epoch 31/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4561 - accuracy: 0.7912
Epoch 32/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4550 - accuracy: 0.7890
Epoch 33/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4523 - accuracy: 0.7946
Epoch 34/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4520 - accuracy: 0.7901
Epoch 35/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4498 - accuracy: 0.7924
Epoch 36/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4480 - accuracy: 0.7980
Epoch 37/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4488 - accuracy: 0.7980
Epoch 38/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4477 - accuracy: 0.7969
Epoch 39/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4480 - accuracy: 0.8002
Epoch 40/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4460 - accuracy: 0.8036
Epoch 41/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4457 - accuracy: 0.8025
Epoch 42/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4440 - accuracy: 0.7991
Epoch 43/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4440 - accuracy: 0.8036
Epoch 44/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4432 - accuracy: 0.8013
Epoch 45/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4415 - accuracy: 0.8036
Epoch 46/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4421 - accuracy: 0.8070
Epoch 47/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4424 - accuracy: 0.8002
Epoch 48/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4403 - accuracy: 0.8036
Epoch 49/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4415 - accuracy: 0.8047
Epoch 50/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4404 - accuracy: 0.8058
Epoch 51/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4400 - accuracy: 0.8036
Epoch 52/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4388 - accuracy: 0.8058
Epoch 53/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4385 - accuracy: 0.8070
Epoch 54/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4389 - accuracy: 0.8058
Epoch 55/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4361 - accuracy: 0.8103
Epoch 56/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4382 - accuracy: 0.8058
Epoch 57/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4389 - accuracy: 0.8025
Epoch 58/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4368 - accuracy: 0.8081
Epoch 59/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4372 - accuracy: 0.8081
Epoch 60/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4370 - accuracy: 0.8092
Epoch 61/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4356 - accuracy: 0.8058
Epoch 62/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4346 - accuracy: 0.8025
Epoch 63/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4342 - accuracy: 0.8081
Epoch 64/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4357 - accuracy: 0.8081
Epoch 65/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4341 - accuracy: 0.8047
Epoch 66/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.8148
Epoch 67/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4341 - accuracy: 0.8070
Epoch 68/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4328 - accuracy: 0.8103
Epoch 69/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4331 - accuracy: 0.8103
Epoch 70/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4324 - accuracy: 0.8081
Epoch 71/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4317 - accuracy: 0.8081
Epoch 72/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4313 - accuracy: 0.8081
Epoch 73/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4320 - accuracy: 0.8114
Epoch 74/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4311 - accuracy: 0.8171
Epoch 75/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4310 - accuracy: 0.8159
Epoch 76/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4307 - accuracy: 0.8148
Epoch 77/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4309 - accuracy: 0.8114
Epoch 78/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4315 - accuracy: 0.8159
Epoch 79/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4313 - accuracy: 0.8092
Epoch 80/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4299 - accuracy: 0.8081
Epoch 81/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4301 - accuracy: 0.8137
Epoch 82/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4303 - accuracy: 0.8148
Epoch 83/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4291 - accuracy: 0.8126
Epoch 84/100
28/28 [==============================] - 0s 3ms/step - loss: 0.4299 - accuracy: 0.8092
Epoch 85/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4288 - accuracy: 0.8148
Epoch 86/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4290 - accuracy: 0.8159
Epoch 87/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4265 - accuracy: 0.8114
Epoch 88/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4277 - accuracy: 0.8126
Epoch 89/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4282 - accuracy: 0.8171
Epoch 90/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4280 - accuracy: 0.8126
Epoch 91/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4267 - accuracy: 0.8092
Epoch 92/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4255 - accuracy: 0.8159
Epoch 93/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4284 - accuracy: 0.8137
Epoch 94/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4261 - accuracy: 0.8137
Epoch 95/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4263 - accuracy: 0.8182
Epoch 96/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4247 - accuracy: 0.8137
Epoch 97/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4270 - accuracy: 0.8171
Epoch 98/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4262 - accuracy: 0.8126
Epoch 99/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4234 - accuracy: 0.8227
Epoch 100/100
28/28 [==============================] - 0s 2ms/step - loss: 0.4270 - accuracy: 0.8182
28/28 [==============================] - 0s 2ms/step - loss: 0.4233 - accuracy: 0.8137

In [469]:
test_loss,test_acc=model.evaluate(x_tensor,y_tensor)

14/14 [==============================] - 0s 3ms/step - loss: 0.2728 - accuracy: 0.9617

In [470]:
predictions=model.predict(x_tensor)

In [472]:
predictions=model.predict(x_tensor)
y_test=pd.read_csv("/Users/olegsiskin/Desktop/titanic/gender_submission.csv")
y_test=y_test.set_index("PassengerId")
y_test["Survived"]=[round(i[0]) for i in predictions]
y_test.to_csv("/Users/olegsiskin/Desktop/titanic/titanicanswer.csv")

!["Res"](/Users/olegsiskin/Desktop/titanic/restitanic.png)